services:
  app_proxy:
    environment:
      APP_HOST: gphilippe-sabnzbd_gluetun_1
      APP_PORT: 8080
      PROXY_AUTH_WHITELIST: "/api*"
      
  gluetun:
    image: qmcgaw/gluetun
    container_name: gphilippe-sabnzbd_gluetun_1
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    # ports:
    #   - 8080:8080 # SABnzbd Web UI
    volumes:
      - ${APP_DATA_DIR}/data/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=10.2.0.2/32
      - SERVER_COUNTRIES=France
      - TZ=Europe/Paris
      - UPDATER_PERIOD=24h
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24

  sabnzbd:
    image: linuxserver/sabnzbd:4.5.5@sha256:37fc318dc632106eac00f096661f43ca513793bf51913bcbd989ba921b3409c8
    container_name: sabnzbd
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${UMBREL_ROOT}/data/storage/downloads:/downloads
    depends_on:
      - gluetun
    restart: unless-stopped

networks: {}